# =========================
# ENVIRONMENTS
# =========================
.venv/
venv/
env/
ENV/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# MODEL FILES
# =========================
*.pth

# =========================
# DATASET (VERY LARGE - DO NOT UPLOAD)
# =========================
data/
data/raw/
data/processed/
data/train/
data/test/

# =========================
# LOGS
# =========================
*.log

# =========================
# JUPYTER NOTEBOOK CHECKPOINTS
# =========================
.ipynb_checkpoints/

# =========================
# DISTRIBUTION / BUILD FILES
# =========================
build/
dist/
*.egg-info/

# =========================
# IDE FILES
# =========================
.idea/
.vscode/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# FLASK / LOCAL FILES
# =========================
instance/
.webassets-cache/

# =========================
# TEMP FILES
# =========================
tempCodeRunnerFile.py